#game-window {
    border: none;
    background: rgb(26, 26, 26);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(70, 9, 49);
}

#points {
    font-family: monospace;
    font-size: xx-large;
    padding-left: 1rem;
    color: rgb(55, 172, 26);
}

#info {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    color:rgb(55, 172, 26);
}

footer {
    position:fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
}

footer p a {
    color: white;
}