#game-window {
    border: none;
    background: rgb(26, 26, 26);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(70, 9, 49);
}

#error {
    display: none;
}

@media(max-width: 1000px) {
    canvas, #points, #info, #speed, #speed-display, #scoreboard {
        display: none;
    }

    #error {
        display: block;
        color: red;
    }
}



#speed {
    margin-top: 1rem;
    appearance: none;
    background-color:rgb(26, 26, 26);
    height: 4px;
    width: 650px;
}

#speed:focus {
    outline: none;
}

#speed-display {
    margin-left: 1rem;
    color:rgb(55, 172, 26);
}

#speed-display::before {
    content: "slower";
}

#speed-display::after {
    content: "faster";
}



#points {
    font-family: monospace;
    font-size: xx-large;
    padding-left: 1rem;
    color: rgb(55, 172, 26);
}

#info {
    position: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 1rem;
    bottom: 1rem;
    color:rgb(55, 172, 26);
}

#scoreboard {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    height: 600px;
    width: calc(100vw - 800px);

    position: fixed;
    right: 0;
    top: 0;

    table-layout: fixed;
    border-collapse: collapse;

    background-color: gray;
    color: black;
}

#scoreboard thead tr {
    display: block;
}

#scoreboard tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 550px;
}

td, th {
    text-align: left;
    padding: 0.5rem;
    width: 200px;
}

footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:fixed;
    bottom: 1rem;
    right: 1rem;
    color: white;
}

footer p a {
    color: white;
}