#game-window {
    border: none;
    background: rgb(26, 26, 26);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(70, 9, 49);
}


button {
    background-color: rgb(40, 40, 40);
    border: none;
    color: orange;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

#points {
    font-family: monospace;
    font-size: xx-large;
    color: rgb(55, 172, 26);
}

#info {
    position: fixed;
    right: calc(100vw - 1200px - 10rem);
    top: 1rem;
    color:rgb(55, 172, 26);
}